---
// - Layout
import { Icon } from 'astro-icon/components'
---

<div class="py-4">
    <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100">
        ¿Por qué es importante tener un Plan Personal de Retiro?
    </h2>
    <p class="text-base text-neutral-600 dark:text-neutral-400">
        El <strong>Plan Personal de Retiro</strong> (PPR) es una herramienta financiera que te permite ahorrar e invertir para tu retiro, con beneficios fiscales y flexibilidad para adaptarlo a tus necesidades. 	
    </p>
    <p class="text-base text-neutral-600 dark:text-neutral-400">
        Las pensiones actuales solo garantizan el 30% de tu último sueldo, por lo que es importante <strong>complementar tu ahorro</strong> para mantener tu calidad de vida en el retiro. 	
    </p>
    <p class="text-base text-neutral-600 dark:text-neutral-400">
        Con un PPR, <strong>puedes ahorrar de forma constante y disciplinada</strong>, aprovechando los beneficios de los que gozan los planes de ahorro para el retiro.
    </p>
    <h2 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100">
        Lógralo con un Plan Personal de Retiro ¡Cotiza ahora!
    </h2>
    <p class="text-base text-neutral-600 dark:text-neutral-400">
        En <strong>LogiSeguros</strong> te ayudamos a <strong>completar tu ahorro</strong> para el retiro, con un Plan Personal de Retiro que se adapta a tus necesidades y a tu estilo de vida. Estamos para apoyarte en cada paso del proceso.
    </p>
    <ul class="mt-10 space-y-6">
        <li class="flex items-center gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="microphone" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <span class="text-base font-medium text-neutral-800 dark:text-neutral-200">
                Atención y Asesoría Personalizada
            </span>
        </li>
        <li class="flex items-center gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="cursor-arrow-ripple" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <span class="text-base font-medium text-neutral-800 dark:text-neutral-200">
                Contratación en Línea
            </span>
        </li>
        <li class="flex items-center gap-4">
            <div class="flex size-12 shrink-0 items-center justify-center rounded-full bg-blue-100 dark:bg-blue-900/30">
                <Icon name="user-group" class="size-6 text-blue-600 dark:text-blue-400" />
            </div>
            <span class="text-base font-medium text-neutral-800 dark:text-neutral-200">
                Acompañamiento Profesional
            </span>
        </li>
    </ul>
</div>