---
// Home page Ahorro para retiro 
// ------------
// Description: Un mejor hero para el landing
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row     from '../../ui/Row.astro'
import Col     from '../../ui/Col.astro'
// - UI
import { Image }        from 'astro:assets'
// Content
import heroImage from "@/assets/ppr/heroppr.png";
import heroImageCel from "@/assets/ppr/Hero-PPR-cel.png";


---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h1>
				Plan de Retiro <strong>Personal</strong>
			</h1>
			<p class="pb-0 text-lg">
				Elige lo que mejor se adapta a tu vida y a tu presupuesto, con marcas líderes y
				asesoría cercana y profesional.
			</p>
			<a href="/agenda-tu-cita">
				<Image
					src={heroImage}
					alt="PPR Allianz Personal Retiro"
					format="png"
					quality={100}
					class="hidden lg:block"
				/>
				<Image
					src={heroImageCel}
					alt="PPR Allianz Personal Retiro"
					format="png"
					quality={100}
					class="block lg:hidden"
				/>
			</a>
		</Col>
	</Row>
</Section>
